@charset "utf-8"; html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { display: block;}
body { line-height: 1;}
ol, ul { list-style: none;}
blockquote, q { quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none;}
table { border-collapse: collapse; border-spacing: 0;}

:focus { outline: none !important;}

.clearfix{ zoom:1; display: block; position: relative;}
.clearfix:after{ content:'.'; display:block; clear:both; height:0; visibility:hidden;}

.pie{ position:relative;}

html{ background:#fff; min-width:960px; height:100%;}
body{ font-family: Arial, Helvetica, sans-serif; background: #fff; color: #363636; font-size: 12px; line-height: 14px; min-width: 1100px; padding: 110px 0 0;}

input,textarea,select{ font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 15px; color: #111; margin:0;}

a{ color: #1191d4; text-decoration: none;}
a:hover{ color: #1191d4; text-decoration: underline;}

.imgTxt{ display:block; background-image:url(img/sprite.png); background-repeat:no-repeat; overflow:hidden; text-indent:-999em; position:relative;}
.txtLogo{ background-position:0 0; width:137px; height:19px;}
.txtPlus{ background-position:-150px 0; width:10px; height:10px;}
.txtCalendar{ background-position:-200px 0; width:40px; height:40px;}
.txtRefresh{ background-position:-250px 0; width:12px; height:14px; margin: 0px 2px 2px;}
a:hover .txtRefresh{ background-position:-300px 0;}
.txtClose{ background-position:-350px 0; width:12px; height:12px; margin: 2px;}
a:hover .txtClose{ background-position:-400px 0;}
.txtHelp{ background-position:-450px 0; width:20px; height:20px;}
.txtSearch{ background-position:-500px 0; width:16px; height:16px;}
.txtArrow{ background-position:-550px 0; width:29px; height:17px;}
.txtChat{ background-position:-600px 0; width:19px; height:16px;}

.header{ background: #4984af url(img/header.png) repeat 0 0; padding:0 40px; position: fixed; z-index: 150; top: 0; left:0; right: 0; min-width: 1020px;}
.header .logo{ padding: 6px 103px 25px 1px; float: left;}

#headerBlock{ padding:20px 0 0;}

.left_header{ float: left;}

.right_header{ float: right; position: relative; z-index: 50;}
.right_header a{ color: #fff; letter-spacing: 0.01em; text-decoration: none;}

.link_arr{ display: inline-block; border-left: 3px solid transparent; border-right: 3px solid transparent; border-top:5px solid #fff; height: 1px; width:1px; margin: 0 0 0 10px;}
*+html .link_arr{ display: inline; zoom:1;}

.login_block{ padding: 8px 14px 0 55px; float: right; position: relative; margin: 0 0 0 27px;}
.login_block a{ position: relative; font-weight: bold;}
.login_block img{ position: absolute; left: 0; top: -4px; -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px;}

.header_links{ float: right; padding: 8px 0 0;}
.header_links > a,
.header_links .with_subLinks > a{ margin: 0 27px 0 0; float: right;}
.header_links .link_arr{ margin: 0 0 0 13px;}

.search_form{ float: left; position: relative;}
.search_form label{ position: absolute; top: 7px; left: 34px; font-size: 12px; line-height: 15px; color: #111; cursor: text;}
.search_form input{ background: #fff; border:none; display: block; width: 258px; padding: 7px 8px 8px 34px; height: 15px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;}
.search_form .button{ position: absolute; left: 9px; top: 8px;}

.with_subLinks{ position: relative; float: right;}
.with_subLinks .subLinks{ position: absolute; left: -39px; top: 15px; padding: 17px 0 0; width:140px; display: none;}
.with_subLinks .subLinks .txtArrow{ position: absolute; left:50%; top: 0; margin: 0 0 0 -15px; z-index: 150;}
.with_subLinks .subLinks ul{ list-style: none; padding: 10px; position: relative; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; background: #fff; -webkit-box-shadow: rgba( 102, 103, 104, 0.43) 0 0 10px;; -moz-box-shadow: rgba( 102, 103, 104, 0.43) 0 0 10px;; box-shadow: rgba( 102, 103, 104, 0.43) 0 0 10px;}
.with_subLinks .subLinks ul a{ display: block; color: #0286bc; font-size: 13px; line-height: 15px; text-decoration: none; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; padding: 8px 9px 7px;}
.with_subLinks .subLinks ul a:hover{ color:#fff; background: #5da3d7;}

.red{ color: #cc2232 !important;}


.menu{ background: #2d5877; overflow: visible; clear:both;}
.menu ul{ font-size: 0; line-height: 0; list-style: none;}
.menu li{ font-size: 13px; line-height: 16px; float: left;}
.menu a{ display: block; color: #bacad5; text-decoration: none; padding: 11px 13px 13px 14px; position: relative; overflow: visible;}
.menu a:hover{ color:#fff;}
.menu .active > a{ background: #274c67; display: block;}
.menu .txtPlus{ display: inline-block; margin: 0px 10px 0px -4px; position: relative; top: 1px;}
*+html .menu .txtPlus{ display: inline; zoom:1;}
.menu .txtCalendar{ padding: 0; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80); -moz-opacity:0.8; -khtml-opacity:0.8; opacity:0.8;}
.menu .txtCalendar:hover{ padding: 0; filter:none; -moz-opacity:1; -khtml-opacity:1; opacity:1;}
.menu .last{ float: right;}
.menu .quantity{ position: absolute; display: block; top: -5px; right: -5px; color: #fff; padding:5px 4px 4px; background: #df313d; font-size: 11px; line-height: 11px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;}
.menu ul ul{ display: none; position: absolute; left: 0; top: 40px; background: #39607d; padding: 12px 10px 9px;}
.menu ul .create_submenu > a{ letter-spacing: 0.05em;}
.menu ul li.visible_submenu ul{ display: block;}
.menu ul li.visible_submenu > a{ background: #39607d; font-weight: bold; letter-spacing: 0;}
.menu ul ul li{ float: none; white-space: nowrap; margin: -1px 0 0; border-top: 1px solid #4a7390;}
.menu ul ul li:first-child{ border:none;}
.menu ul ul li:hover,
.menu ul ul li.borderLess{ border-color:#39607d;}
.menu ul ul a{ color:#fff; padding: 6px 9px 8px; position: relative; top: -1px; min-width: 102px; white-space: nowrap; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;}
.menu ul ul a:hover{ background: #30ab2a;}

.content{ padding:26px 40px 17px; position: relative;}
.content h1{ font-size: 25px; line-height: 30px; color: #363636; padding: 0 0 24px; letter-spacing: -0.02em;}

.right_top_links{ position: absolute; right: 42px; top: 25px; font-size: 12px; line-height: 20px;}
.right_top_links a{ position: relative;}
.right_top_links a .imgTxt{ margin: 0 12px 0 0; position: relative; display: inline-block;}
*+html .right_top_links a .imgTxt{ display: inline; zoom:1; top: 5px;}

.table{ background:#f8f8f8; padding: 10px; margin: 0 0 20px; overflow: hidden; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; overflow: hidden;}
.table:hover{ -webkit-box-shadow: #bdbdbe 0 0 10px;; -moz-box-shadow: #bdbdbe 0 0 10px;; box-shadow: #bdbdbe 0 0 10px;}
.table h2{ font-size: 18px; line-height: 22px; color: #e32b06; float: left; padding: 3px 28px 15px 2px;}
.table table{ clear: both; color: #363636; border:1px solid #ebeaea; background: #fff; width: 100%; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;}
.table table thead th{ background: #ebeaea; text-align: left; padding: 12px 15px 13px;}
.table table tbody tr{ border-top: 1px solid #f0f0f0;}
.table table tbody tr:first-child{ border-top:none;}
.table table tbody tr:hover{ background: #fdf8da; border-color: #fdf8da;}
.table table tbody tr.borderLess{ border-color: #fdf8da;}
.table table tbody th{ text-align: left; font-size: 14px; padding: 12px 15px 13px;}
.table table tbody td{ padding: 12px 15px;}
.table table tbody td.light{ color: #595959;}
.table .table_links{ float: left; padding: 8px 0 18px 0; letter-spacing: 0.04em;}
.table .table_links a{ margin: 0 20px 0 0;}
.table .left_buttons{ float:left;}
.table .right_buttons{ float: right;}
.table .right_buttons a{ float: right; margin: 0 10px 0 0;}
.table .right_buttons a{ float: right; margin: 0 0 0 10px;}

.table_wide{ float: left; margin-right:20px; width: 51%;}

.ico_button{ display: block; float: left; padding: 7px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;}
.ico_button:hover{ border: 1px solid #8fc9f3; padding: 6px;}

.mainTable table{ font-size: 13px;}
.mainTable table thead th{ font-size: 12px;}

.calendar{ background: #f8f8f8; float: right; margin: 0 0 20px 20px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; padding: 14px 14px 10px;}
.calendar .calendar_nav{ text-align: center; color: #0286bc; font-size: 14px; color: #0286bc; padding: 4px 0 16px;}
.calendar table thead th{ font-size: 11px; padding: 0 0 8px;}
.calendar tbody span{ width: 30px; text-align: center; display: block; padding: 8px 0;}
.calendar tbody td{ font-size: 13px;}
.calendar tbody a{ border:2px solid #f8f8f8; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; display: block; width: 26px; text-align: center; padding: 6px 0;}
.calendar tbody a:hover{ text-decoration: none; border-color: #5da3d7;}
.calendar tbody a.active{ border-color:#44f20d; font-weight: bold;}

.footer{ color: #898989; font-size: 13px; line-height: 16px; padding: 0 41px 37px;}

.chatBlock{ position: fixed; bottom: 0; right: 40px; width: 180px;}
.chatBlock .openChat{}
.chatBlock .openChat a{ display: block; position: relative; background: #3f8ec9; color: #fff; text-decoration: none; padding: 9px 25px 7px 38px;; -webkit-border-radius: 4px 4px 0 0; -moz-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;}
.chatBlock .openChat a .txtChat{ position: absolute; left: 9px; top: 8px;}
.chatBlock .openChat a .chatStatus{ display: block; position: absolute; right:10px; top: 10px; width: 10px; height: 10px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.chatBlock .openChat a .chatOnline{ background: #44f20d;}
.chatBlock .openChat a .chatOffline{ background: #f00;}

